@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C2333;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  scrollbar-color: oklch(100% 0.00011 271.152 / 0.284) transparent;
}

/* primereact-scrollbar */
.p-scrollpanel .p-scrollpanel-bar {
  background: oklch(100% 0.00011 271.152 / 0.284);
  border: 0 none;
}

.p-scrollpanel-bar-y {
    width: 0.3rem;
    top: 0;
}


 /* PrimeReact DataTable Customization*/

/* Header background and text color */
.p-datatable .p-datatable-thead > tr > th {
  background: #1e293b; /* A darker gray */
  color: #ffffff;
}

/* All row background and text color */
.p-datatable .p-datatable-tbody > tr {
  background: #1a202c; /* Even darker blue-gray */
  color: #e2e8f0;
}

/* Row hover effect */
.p-datatable .p-datatable-tbody > tr:hover {
  background: #334155; /* Your theme's primary purple */
  color: #ffffff;
}

/* Selected row color (if you use selection) */
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #1C2333;
  color: #ffffff;
}
